

.HomeContainer{
    height: 100vh;
    overflow: hidden;
    cursor: pointer;

    .First{

        height: 100%;
        position: relative;
        overflow: hidden;

        video{
             height: 100%;
            width: 100%;
            top: 0;
            object-fit: fill;
        }


        .BlackScreen{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background-color: black;
            opacity: .4;
        }


        .OnVideo{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            h1{
                font-family: var(--Monterest);
                color: whitesmoke;
                font-size: 150px;
                font-weight: 700;
                text-shadow: 0px 0px 5px black;
                cursor: default;
            
                span{
                    color: var(--MainColor);
                }
            }

            h2{
                font-family: var(--ArabicTitlesFont);
                color: whitesmoke;
                text-shadow: 0px 0px 5px black;
                cursor: default;
                font-size: 23px;

                span{
                    color: var(--MainColor);
                }
            }


            .FooterOnVideo{
                position: absolute;
                bottom: 25px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                

                .LeftFooterOnVideo{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: fit-content;
                    margin-left: 25px;
                    align-items: center;
                    justify-content: center;

                    a{
                        color: whitesmoke;
                        font-size: 22px;
                        transition: .3s all linear;
                        -webkit-transition: .3s all linear;
                        -moz-transition: .3s all linear;
                        -ms-transition: .3s all linear;
                        -o-transition: .3s all linear;

                        &:hover{
                            transform: scale(1.3);
                            -webkit-transform: scale(1.3);
                            -moz-transform: scale(1.3);
                            -ms-transform: scale(1.3);
                            -o-transform: scale(1.3);
}
}
                }


            }
        }



    }


    .RightFooterOnVideo{
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: fit-content;
        margin-right: 25px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;


        button{
            background-color: transparent;
            font-size: 17px;
            color: whitesmoke;
            height: 40px;
            border: 3px solid rgba(128, 128, 128, 0.281);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            text-shadow: 0px 0px 5px black;
            cursor: pointer;
            transition: .3s all linear;
            -webkit-transition: .3s all linear;
            -moz-transition: .3s all linear;
            -ms-transition: .3s all linear;
            -o-transition: .3s all linear;

            &:hover{
                color: var(--MainColor);
                border: 3px solid whitesmoke;
            }
        }
    }


    .Second{
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;

        .SecondContainer{
            display: flex;
            flex-wrap: wrap;

            .LeftSecond{
                width: 50%;
                background-image: url('/blob.svg');
                background-repeat: no-repeat;
                background-image: 100% 100%;
    
                img{
                    height: 570px;
                    width: 600px;
                }
            }
    
    
            .RightSecond{
                width: 50%;
    
    
    
                h1{
                    font-family: var(--Monterest);
                    font-weight: 700;
                    color: var(--MainColor);
                    margin: 25px;
                    text-align: center;
                    font-size: 70px;
                    text-shadow: 0px 0px 5px 5px black;
                }
    
                .AfterH{
                    font-family: var(--ArabicLinksFont);
                    font-weight: 600;
                    color: whitesmoke;
                    text-align: right;
                    margin: 15px 25px;
                }
    
                h2{
                    color: var(--MainColor);
                    font-family: var(--ArabicLinksFont);
                    font-family: 700;
                    text-align: right;
                    margin: 20px 25px;
                }
    
                p{
                    color: whitesmoke;
                    font-family: var(--ArabicLinksFont);
                    font-weight: 500;
                    text-align: right;
                    margin: 15px 25px;
                }
            }
        }

       
        h1{
            font-family: var(--ArabicLinksFont);
            font-weight: 600;
            color: whitesmoke;
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: center;
            margin: 25px 15px;

            span{
                color: var(--MainColor);
            }
        }







    }

}



@media (max-width: 1149px) {
    .HomeContainer{
        .Second{
            .SecondContainer{
                flex-wrap: wrap;

                .RightSecond{
                    width: fit-content;
                
                }

                .LeftSecond{
                   display: none;

                }
            }
        }
    }
}


@media (max-width: 1015px) {
    
.HomeContainer{
    .First{
        .OnVideo{
            h2{
                text-align: center;
                
            }
        }
    }
}

}



@media (max-width: 463px) {
    
    .HomeContainer{
        .First{
            .OnVideo{
                h1{
                    font-size: 100px;
                    
                }
            }
        }
    }
    
    }



    @media (max-width: 281px) {
    
        .HomeContainer{
            .First{
                .OnVideo{
                    h1{
                        font-size: 70px;
                        
                    }
                }
            }
        }
        
        }